body {
	font-family: 'Inter', sans-serif;
}

.container {
	max-width: 1480px;
	width: 100%;
	margin: 0 auto;
	padding: 0 32px;
}

.row {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.def-text-block {
	.def-title {
		margin-bottom: 24px;
	}
	.def-desc {
		margin-bottom: 60px;
	}
}

@media (max-width: 768px) {
	.row {
		flex-direction: column;
		gap: 100px;
	}

	.def-text-block {
		text-align: center;
		display: flex;
		align-items: center;
		flex-direction: column;
	}
}

.def-title {
	font-size: clamp(36px, 1.89vw + 17.2px, 72px);
	font-weight: 700;
	line-height: 100%;
}

.def-desc {
	font-size: 18px;
	font-weight: 400;
	line-height: 30px;
	letter-spacing: -2%;
}

.def-title.dark,
.def-desc.dark {
	color: var(--color-dark);
}

.def-title.light,
.def-desc.light {
	color: var(--color-white);
}

.def-btn {
	background-color: var(--color-primary);
	border-radius: 8px;
	border: none;

	display: flex;
	align-items: center;
	gap: 10px;

	padding: 20px;
	transition: opacity 0.2s ease-in;

	span {
		color: var(--color-white);
		font-size: 18px;
		font-weight: 500;
		letter-spacing: -2%;
	}
}

.def-btn:hover {
	opacity: 0.8;
}

.image-block {
	background-color: var(--color-secondary);
	max-width: 685px;
	width: 100%;
	aspect-ratio: 1.5 / 1;
}

@media (max-width: 768px) {
	.image-block {
		width: 85%;
	}
}
