.header {
	position: relative;
	background-color: var(--color-primary-dark);
	padding: 16px 0;

	@media (max-width: 768px) {
		.row {
			flex-direction: row;
		}
	}
}

.nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 32px;

	.nav-item {
		display: flex;
		align-items: center;
		gap: 15px;

		span {
			color: var(--color-white);
			font-size: 18px;
			font-weight: 500;
			transition: color 0.2s ease;
		}
	}

	.nav-item:hover > span {
		color: var(--color-accent);
	}

	.nav-item:hover > img {
		filter: brightness(0) saturate(100%) invert(95%) sepia(25%) saturate(965%)
			hue-rotate(321deg) brightness(100%) contrast(102%);
	}
}

.btns {
	display: flex;
	align-items: center;
	gap: 24px;

	.login {
		color: var(--color-primary-dark);
		font-weight: 500;

		background-color: var(--color-accent);
		border-radius: 8px;
		border: none;

		padding: 20px 40px;
		transition: opacity 0.2s ease-in;
	}

	.login:hover {
		opacity: 0.8;
	}
}
/* 
.relative {
	position: relative;
} */

.submenu {
	position: fixed;
	top: -20px;
	right: -280px;
	z-index: 9;
	pointer-events: none;

	width: 280px;
	height: 100vh;
	padding: 100px 20px 0;

	background-color: var(--color-primary-dark);
	border-left: 4px solid var(--color-primary);
	transition: all 0.6s ease-in-out;

	.nav {
		display: flex;
		flex-direction: column;
		margin-bottom: 80px;
	}

	.btns {
		display: flex;
		flex-direction: column-reverse;
	}
}

.submenu.active {
	right: 0;
}

@media (max-width: 768px) {
	.nav,
	.btns {
		display: none;
	}

	.burger-btn {
		width: 42px;
		height: 24px;
		position: relative;
		z-index: 10;

		span {
			display: block;
			position: absolute;
			width: 42px;
			height: 1.5px;
			background-color: var(--color-white);
			transition: all 0.5s ease;
		}

		span:first-child {
			top: 0;
		}

		span:last-child {
			bottom: 0;
		}
	}

	.burger-btn.active span:first-child {
		top: 50%;
		transform: translateY(-50%) rotate(45deg);
	}

	.burger-btn.active span:nth-child(2) {
		display: none;
	}

	.burger-btn.active span:last-child {
		top: 50%;
		transform: translateY(-50%) rotate(-45deg);
	}
}
